/* styles pour le dossier coursPHP */


header{
    background-color: rgb(97, 109, 109);
}

body{
    background-color: rgb(161, 199, 199);
    color: rgb(116, 211, 211);
}

.container{
    background-color: azure;
}


footer{
    background-color: rgb(97, 109, 109);
}