/* styles pour le dossier coursPHP */


header{
    background-color: rgb(97, 109, 109);
}

body{
    height: 100%;
    font-size: 1em;
    /* background-image: url(../img/elephant-skin-245071_1280.jpeg); */
    background-image: url(../img/background-1747786__480.webp);
    background-repeat: repeat;
    background-color: rgb(161, 199, 199);
    color: rgb(116, 211, 211);
}

.container{
    background-color: azure;
}


footer{
    background-color: rgb(97, 109, 109);
}